* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sens-serif
}
 body {
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
     
     background-image: url('/Image/City.jpeg');
     background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
     
 
    
 } 



.king ul{
    position: fixed;
    padding: 10px;
    display: inline-block;

}
.king ul li{
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin-left: 15px;
}
.king ul li a{
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;  
    border-radius: 15px;
}
.king ul li a:hover,
    .king ul li a.active{
    background: #fff;
    color: black;
}


.ExplorerX {
    position:fixed ;
    font-size: 2em;
    color: #fff;
    pointer-events: none;
    text-transform:none;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: double;
}
/* .header{
    position:fixed ;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99; 
}  */

.wapper{
   margin-right: 20px;
   width: 400px;
   height: 440px;
   background: transparent;
   border: 2px solid rgba(255,255,255,.5);
   border-radius: 20px;
   backdrop-filter: blur(20px);
   box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    /* width: 100%;
    height: 100%; */
    /* display: table; */
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;

    
 }
 /* .form-box login{
    display:table-cell;
    vertical-align: middle;
 } */

 /* #text-box{
    text-align: center;
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
 }  
  */
  .wapper .form-box{
    width: 100%;
    padding: 40px;
  }
  /* .wapper .form-box.login{
    display: none;
  } */

  
  .wapper  .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;    
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
  }
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}


.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1 em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 1s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;


}


.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forget{
    font-size: .9em;
    color:blue;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color:rgba(43, 238, 245, 0.856);
    margin-right: 3px;
}
.remember-forget a{
    color: blue;
    text-decoration: double;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: blue;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 10px;
}

.login-register p a{
    color: blue;
    text-decoration: double;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}